body {
    overflow-x: hidden;
}

nav {
  width: 100%;

    .navbar-brand {
        font-family:"Poppins", sans-serif;

        span {
            font-size: 2rem;
            color: rgb(255, 230, 0);
            font-weight: 300;
        }

        .logo {
            font-size: 1rem;
            color: rgb(255, 255, 255);
            font-weight: 100;
        }
    }

    ul {
        transform: translateX(460px);
        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
           }

          
        li {
           margin-right:30px ;

         
        }
    }

}



.container-fluid {
    text-align: center;
    position: relative;
    
    h1{
        color: rgb(212, 65, 46);
    }
}


    .row {
       
      
        
        aside {
            width: 305px;
            //background-color: aqua;
            .aside {
                text-align: center;
                position: relative;
                left: -60px;

                .container {
                    background-color: rgb(255, 208, 0);
                    color: rgb(0, 0, 0);
                    height: 30px;
                    text-align: center;
                    border-radius: 12px;

                    a{
                        text-decoration: none;
                        color: rgb(27, 26, 26);
                    }

                    
                }

                .active {
                 
                    background-color: rgba(4, 1, 44, 0.616);
                    color: white;
                }


                 .container:hover {
                    transition: all .1s ease-in;
                    background-color: black;
                    color: white;

                    a {
                        color: white;
                    }
                }
            }
        }
        .sec1 {
            width: 1228px;
            section{
              .col{
            
            border-radius: 12px;
          height: 320px;
            margin-left: 13px;
            img {
                height: 70%;
                border-radius: 12px;
            }

            h3 {
                color: black;
            }

            .container {
                p{
                    color: rgb(21, 143, 21);
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin-left: 23px;
                }

                button {
                    height: 40px;
                    width: 75px;
                    transform: translateX(-45px);
                }
             } }
        }
    }
    }


.container {
    transform: translateX(45px);
    margin-top: 90px;


    button {
        width: 345px;
        height: 40px;
        margin-left: 23px;

        a {
            text-decoration: none;
            color: white;
        }
    }
}
/* Responsive */
/* Medium Screens */
@media all and (max-width: 1327px) {
    .row {
       
        aside {
            width: 305px;
            //background-color: aqua;
            .aside {
                text-align: center;
                position: relative;
                left: -60px;

                .container {
                    background-color: rgb(255, 208, 0);
                    color: rgb(0, 0, 0);
                    height: 30px;
                    text-align: center;
                    border-radius: 12px;

                    a{
                        text-decoration: none;
                        color: rgb(27, 26, 26);
                    }

                    
                }

                .active {
                 
                    background-color: rgba(4, 1, 44, 0.616);
                    color: white;
                }


                 .container:hover {
                    transition: all .1s ease-in;
                    background-color: black;
                    color: white;

                    a {
                        color: white;
                    }
                }
            }
        }
        .sec1 {
            width: 1228px;
            section{
              .col{
            
            border-radius: 12px;
          height: 320px;
            margin-left: 13px;
            img {
                height: 70%;
                border-radius: 12px;
            }

            h3 {
                color: black;
            }

            .container {
                p{
                    color: rgb(21, 143, 21);
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin-left: 23px;
                }

                button {
                    height: 40px;
                    width: 75px;
                    transform: translateX(-45px);
                }
             } }
        }
    }
    }

    
}

/* Tablettes */
@media all and (max-width: 991px) {
    
    .row {
        aside {
            width: 305px;
            //background-color: aqua;
            .aside {
                display: flex;
                text-align: center;
                position: relative;
                left: -60px;

                .container {
                    background-color: rgb(255, 208, 0);
                    color: rgb(0, 0, 0);
                    height: 30px;
                    text-align: center;
                    border-radius: 12px;

                    a{
                        text-decoration: none;
                        color: rgb(27, 26, 26);
                    }

                    
                }

                .active {
                 
                    background-color: rgba(4, 1, 44, 0.616);
                    color: white;
                }


                 .container:hover {
                    transition: all .1s ease-in;
                    background-color: black;
                    color: white;

                    a {
                        color: white;
                    }
                }
            }
        }
        .sec1 {
            width: 1228px;
            section{
              .col{
            
            border-radius: 12px;
          height: 320px;
            margin-left: 13px;
            img {
                height: 70%;
                border-radius: 12px;
            }

            h3 {
                color: black;
            }

            .container {
                p{
                    color: rgb(21, 143, 21);
                    font-weight: bold;
                    font-size: 1.5rem;
                    margin-left: 23px;
                }

                button {
                    height: 40px;
                    width: 75px;
                    transform: translateX(-45px);
                }
             } }
        }
    }
    }

.container {
    transform: translateX(75px);
    margin-top: 90px;


    button {
        width: 145px;
        height: 40px;
        margin-left: 23px;

        a {
            text-decoration: none;
            color: white;
        }
    }
}
}



/* Mobile */
@media all and (max-width: 767px) {

}